Hi,

= "#{@notification.get_sender_display_name} #{get_invitation_message(@notification, 'friend_invite')}"

= @event.name
= @event.formatted_start_date_for_invite_mailer

What is Pulsr? Pulsr is a social discovery application meant to answer the age-old question “What should we do tonight?” We empower people to get up and get out, leveraging our database of local events and businesses as a tool for leading a vibrant social life.

You're getting this email because you signed up at pulsr.com. Click here to unsubscribe'